:root {
  font-family: "Rubik";
}

.header-ada {
  background-color: white;
  width: 100vw;
  height: 50px;
  display: flex;
  display: block;
  z-index: 2;
  box-sizing: content-box;
}

.logo {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navegator {
  color: #4a4a4a;
  font-size: 16px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
}

.item {
}

main {
  background-color: #3cdbc0;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-top: 50px;
}

.text {
  font-size: 30px;
  color: #ffffff;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  width: 100vh;
  background-position: 50%, 50%;
}
