<header class="header-ada">
  <nav>
    <a class="logo" href="https://adalab.es/">
      <img
        class="logo"
        src="../assets/images/logo-adalab.png"
        alt="logo-adalab"
      />
    </a>
  </nav>
  <nav class="header-nav">
    <ul class="item">
      <li>
        <a class="item-nav1" title="blog" href="https://adalab.es/blog/"
          >blog</a
        >
      </li>
      <li>
        <a class="item-nav2" title="contact" href="https://adalab.es/blog/"
          >contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
