<header class="header-ada">
  <a class="logo" href="https://adalab.es/">
    <img
      class="logo"
      src="../assets/images/logo-adalab.png"
      alt="logo-adalab"
    />
  </a>
  <nav>
    <ul class="item">
      <li>
        <a class="link-nav1" title="blog" href="https://adalab.es/blog/"
          >blog</a
        >
      </li>
      <li>
        <a class="link-nav2" title="contact" href="https://adalab.es/blog/"
          >contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
