:root {
  font-family: "Rubik";
}

.header-ada {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 10px;
  font-size: $size-text-1;
}
.logo {
  box-sizing: content-box;
  width: 155px;
}
.item {
  color: $color-menu;
  width: 155px;
  margin-top: 10px;
}
.link-nav1 {
  margin-right: 10px;
}
.link-nav2 {
  margin-right: 10px;
}
.diversity {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
  padding-top: 35vw;
}
.text {
  font-size: $size-text-2;
  color: $color-main;
}
@media (min-width: 768px) {
  .header-ada {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    justify-items: start;
    margin-left: 30px;
  }
  .item {
    justify-items: end;
    margin-right: 30px;
  }
}

.text {
  font-size: $size-text-3;
}
